*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.big{
    height: 250px;
    width: 250px;
    margin: 10px; 
    position: relative;
}
.big img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
 
}
.big .small{
    height: 70px;
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
}
.big .small img{
    height: 100%;
    width: 100%;
}